@import url('https://fonts.googleapis.com/css?family=Lato:300,400,500,700');

$light: 300;
$regular: 400;
$bold: 500;
$bolder: 700;

// Import modular scale mixins
@import '../vendor/modular-scale/stylesheets/_modular-scale.scss';

// Typi configuration
// currently pulls breakpoints from mq
$breakpoints: (
  small: $sm,
  large: $xl
);
// typi map
$typi: (
  null: (16px, 1.3),
  small: 18px,
  large: (20px, 1.4)
);

// Import typi
@import '../vendor/typi/scss/typi';

// Core Typography vars
$base-font-family: 'Lato', sans-serif;
$base-font-weight: $regular;
$base-font-size: 16px;
$base-line-height: 1.8rem;

$heading-font-family: 'Lato', sans-serif;
$heading-font-weight: $bold;

$menu-font-size: 16px;
$footer-font-size: 16px;

html {
  @include typi-base();
}
body {
  font-family: $base-font-family;
  font-weight: $base-font-weight;
}

h1{
  font-size: 40px;
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: solid 1px #e7e3df;
}
h2{
  font-size: 28px;
  margin-bottom: 12px;
}


@mixin h1{
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  font-size: 40px;
  line-height: 42px;
  @include mq($from: xs){
    font-size: 48px;
    line-height: 54px;
  }
  @include mq($from: md){
    font-size: 52px;
  }
  @include mq($from: lg){
    font-size: 60px;
    line-height: 60px;
  }
}
@mixin h2 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  margin: 0;
  font-size: 36px;
  line-height: 40px;
  @include mq($from: md){
    font-size: 44px;
    line-height: 48px;
  }
  @include mq($from: xl){
    font-size: 48px;
    line-height: 64px;
  }
}
@mixin h3 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  // text-transform: uppercase;
  margin: 0;
  font-size: 28px;
  line-height: 36px;
  @include mq($from: md){
    font-size: 34px;
    line-height: 42px;
  }
  @include mq($from: xl){
    font-size: 34px;
    line-height: 48px;
  }
}
@mixin p1{ // main p tag styling
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-size: 17px;
  line-height: 24px;
  margin: 16px 0;
  text-indent: 24px;
  @include mq($from: sm){
    font-size: 21px;
    line-height: 24px;
  }
  @include mq($from: md){
    font-size: 24px;
    line-height: 32px;
    text-indent: 48px;
  }
  @include mq($from: lg){
    font-size: 26px;
    line-height: 32px;
  }
}
@mixin p2{ // same paragraph sizing with 0 line height and margin
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-size: 17px;
  line-height: 17px;
  @include mq($from: sm){
    font-size: 21px;
    line-height: 21px;
  }
  @include mq($from: md){
    font-size: 24px;
    line-height: 24px;
  }
  @include mq($from: lg){
    font-size: 26px;
    line-height: 26px;
  }
}
@mixin p3{ // Used rignt now only in music component
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-size: 17px;
  line-height: 17px;
  margin: 0;
  @include mq($from: sm){
    font-size: 21px;
    line-height: 21px;
  }
  @include mq($from: md){
    font-size: 24px;
    line-height: 24px;
  }
  @include mq($from: lg){
    font-size: 26px;
    line-height: 26px;
  }
}
@mixin p4{
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-size: 18px;
  line-height: 24px;
}