a.link, span.link{
  color: $brand--secondary;
  text-decoration: underline;
  position: relative;
  transition: color ease 250ms;
  
  &:after{
    position: absolute;
    top:-2px;
    right:-16px;
    content: '›';
  }
  &:hover{
  color: darken($brand--secondary, 10);
  }
}