// Core color palette
$blue: #2d63a8;
$purple: #BA85FF;
$white: #fff;
$black: #050401;
$grey--dark: #050401;
$grey--light: #EDE8F2;
$white--dark: #fcf8fb;
$orange: #FF593F;
$yellow: #FFD452;
$green: #45b359;

// Common names
$brand: $blue;
$brand--secondary: $purple;
$secondary: $purple;
$accent: $green;

$default-text-color: $black;