// Mq Responsive Configuration
$mq-responsive: true;
$xs: 480px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1440px;
$mq-breakpoints: (
  xs: $xs,
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl
);
// static breakpoint (when mq-responsive is false)
// $mq-static-breakpoint: desktop;
// show breakpoints
$mq-show-breakpoints: (xs, sm, md, lg, xl);
// add custom breakpoint
// @include mq-add-breakpoint(tvscreen, 1920px);

@import 'colors';


// Common
$img-border-radius:   5px;